<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TEST</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/index.css" rel="stylesheet">
  <script type="text/template" id="fileTemplate">
<span class="<%= folder ? 'glyphicon glyphicon-folder-close' : 'glyphicon glyphicon-file' %>"></span>
<a href="<%= href %>">
  <%= file %>
</a>
  </script>
  <script src="/static/jquery-2.1.4.js"></script>
  <script src="/static/underscore.js"></script>
  <script src="/static/backbone.js"></script>
  <script src="/static/script.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="browser" class="col-sm-6"></div>
      <div id="viewer" class="col-sm-6">
        <table class="table">
          <caption>Folders</caption>
  	  <thead><tr><th>Name</th></tr> </thead>
  	  <tbody>
	    <tr><td></td></tr>
	  </tbody>
        </table>
        <table class="table">
          <caption>Files</caption>
  	  <thead><tr><th>Name</th></tr></thead>
  	  <tbody>
	    <tr><td></td></tr>
	  </tbody>
        </table>
      </div>
    </div>
  </div>
<script>
var file = new app.File({id: ""});
//var files = new app.Files([root]);
//var rootView = new app.FolderView({collection:files});
var rootView = new app.FolderView({model: file});
$('#browser').html(rootView.render().el);
</script>
</body>
</html>
