<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TEST</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/index.css" rel="stylesheet">
  <script type="text/template" id="fileTemplate">
<span class="<% if ( type === 'folder') { %>glyphicon glyphicon-folder-close<% } else { %>glyphicon glyphicon-file<% } %>"></span>
<a href="<%= href %>">
  <%= file %>
</a>
  </script>
  <script src="/static/jquery-2.1.4.js"></script>
  <script src="/static/underscore.js"></script>
  <script src="/static/backbone.js"></script>
  <script src="/static/script.js"></script>
</head>
<body>
<script>
var root = new app.File({id: "/"});
var files = new app.Files([root]);
var rootView = new app.Folder({collection:files});
$('body').html(rootView.render().el);
</script>
</body>
</html>
